:root {
  --color-1: #0d1c2e;
  --color-2: #2a8bf2;
  --color-3: #ff3366;
  --color-4: #707c97;
  --color-5: #e6ecfe;
  --color-6: #fafbff;
  --color-7: #ffffff;
  --color-8: #f3f3fb;
  --color-9: #7cb8f7;
}

body {
  background-color: var(--color-8);
}

.App {
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 110px);
  background-color: var(--color-7);
}
